<a href="https://colab.research.google.com/github/kabeerbora/1st_global/blob/main/arranging_asi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASI Rearranging

In [1]:
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')
sheet_id = '1ziZc1OlSzIDhxmq1RtDbf_HQUHw_LPFoWQdoxuREc-4'
sheet_name = 'Sheet4'
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
df = pd.read_csv(url)

Mounted at /content/drive

In [ ]:
!pip install pyreadstat
import pandas as pd
from google.colab import drive
from glob import glob
import os
from tqdm.notebook import tqdm
import numpy as np
import geopandas as gpd
import subprocess
drive.mount("/content/drive")

Collecting pyreadstat
  Downloading pyreadstat-1.2.8-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.0 kB)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.17.0)
Downloading pyreadstat-1.2.8-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 62.3 MB/s eta 0:00:00
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.8

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
years = [f"{year}_{year+1}" for year in range(1999,2023)]

In [ ]:
%%time
#get spreadsheets key from url
gsheetkey = "1ogO9dkkgpr-kTcjYe__Yvw7-YiE6hFUXVAD2e-H2Olw"

#sheet name
sheet_name = 'Sheet1'

url=f'https://docs.google.com/spreadsheet/ccc?key={gsheetkey}&output=xlsx'
df_index = pd.read_excel(url,sheet_name=sheet_name, index_col=0)
df_index = df_index[~df_index['alias'].isna()]
# df_index['filename'] = df_index['filename'].str.strip().str.replace(r"[ ]+", "", regex=True)
df_index['year'] = df_index['year'].str.strip()
df_index = df_index[df_index["year"].isin(years)]
df_index.tail()

CPU times: user 1.88 s, sys: 73.6 ms, total: 1.95 s
Wall time: 4.47 s

,col_name,col_label,filename,year,alias,emp_labour,emp_labour_alias,sno,sno_values
4024,II6,Purchase value (in Rs.),blkI202223,2022_2023,pur_value_imp,NaN,NaN,NaN,NaN
4028,AJ01,"DSL (Block-A, Item 1)",blkJ202223,2022_2023,dsl,NaN,NaN,NaN,NaN
4029,J11,S. No. (to be entered as printed in the schedule),blkJ202223,2022_2023,sno,NaN,NaN,12.0,NaN
4034,J17,Gross sale value (Rs.),blkJ202223,2022_2023,gross_sale,NaN,NaN,NaN,NaN
4036,J19,"Excise Duty/ Sales Tax/VAT/ Other Taxes, ifany...",blkJ202223,2022_2023,excise_duty,NaN,NaN,NaN,NaN

In [ ]:
def filter_E_by_sno(df, sno, sno_alias):
    cols = [i for i in df.columns if i not in ['dsl', 'sno']]
    xdf = df[df['sno']==sno][['dsl']+cols]
    new_cols = [f"{c}_{sno_alias}" for c in cols]
    xdf.columns = ["dsl"] + new_cols
    return xdf

def generate_emp_lab_dict(emp_lab_i, emp_lab_alias):

    column_index = eval(f"[{emp_lab_i}]")
    e_alias = eval(f"[{emp_lab_alias}]")

    d = dict(zip(column_index, e_alias))
    return d

def pivot_emp_labour_data(df, emp_labour_dict):
    final_df = None

    for i, (sx,sv) in enumerate(emp_labour_dict.items()):
        xdf = filter_E_by_sno(df, sx, sv)
        if i==0:
            final_df = xdf
        else:
            final_df = pd.merge(
                left=final_df,
                right=xdf,
                on='dsl',
                how="right"
            )

    return final_df

In [ ]:
%%time

dir = r"/content/drive/MyDrive/data_economics_research/ASI_Firms"
dfs = {}

for (year,filename), dfx in tqdm(df_index.groupby(['year', 'filename'], sort=False)):
    filepath = os.path.join(dir, year, filename+".sav")

    if os.path.isfile(filepath):

        filename = os.path.basename(filepath).split('.')[0].strip()
        year = os.path.basename(os.path.dirname(filepath))

        if dfx.shape[0] > 0:

            column_labels = list(dfx['col_name'].values)
            new_col_labels = list(dfx['alias'].values)
            col_mapper = dict(zip(column_labels, new_col_labels))

            dfy = pd.read_spss(filepath, convert_categoricals=False, usecols=column_labels)
            dfy = dfy.rename(columns=col_mapper)

            ## Strip all column names and lower case them to maintain standardization
            dfy.columns = [c.strip().lower() for c in dfy.columns]

            if 'sno' in dfy.columns:
                dfy['sno'] = dfy['sno'].astype(int)


            if 'scheme_code' in dfy.columns:
                dfy['scheme_code'] = dfy['scheme_code'].astype(int)

                ## Filter census only data
                # dfy = dfy[dfy['scheme_code']==1]

            if "itm_code" in new_col_labels:
                dfy = dfy.loc[dfy.groupby("dsl")['itm_code'].transform("max")==dfy['itm_code']].copy()
                dfy.drop('itm_code', axis=1, inplace=True)

            sno_values = dfx.loc[(dfx['filename']==filename) & (~dfx['sno'].isna()), 'sno'].values

            ## Change the data type for serial number to Int:
            if len(sno_values)==1:
                sno = sno_values[0].astype(int)
            else:
                sno = None

            ## update metadata for each dataframe
            dfy.attrs['sno'] = sno
            dfy.attrs['filename'] = filename
            dfy.attrs['year'] = year

            ## Set the DSL data type to int
            dfy['dsl'] = dfy['dsl'].astype(int)

            ## Check if there are any additional notes for employment and labour

            if dfx['emp_labour'].notna().sum()==1:

                ## Then this is employee and labour data
                emp_labour_i = dfx.loc[dfx['alias']=='sno', "emp_labour"].iloc[0]
                emp_labour_v = dfx.loc[dfx['alias']=='sno', "emp_labour_alias"].iloc[0]

                ## Generate dict
                emp_labour_dict = generate_emp_lab_dict(emp_labour_i, emp_labour_v)

                ## Process employer and labour data
                dfy = pivot_emp_labour_data(dfy, emp_labour_dict)

            else:
                if "sno" in dfy.columns:
                    dfy = dfy.loc[(dfy['sno']==dfy.attrs['sno'])]

            ## Store the dataframes into respective years
            if year in dfs.keys():
                dfs[year].append(dfy)
            else:
                dfs.setdefault(year, [dfy])

  0%|          | 0/219 [00:00<?, ?it/s]

CPU times: user 1min 4s, sys: 4.71 s, total: 1min 9s
Wall time: 2min 40s

In [ ]:
from functools import reduce
import pandas as pd
# Define the range of years
years = [f"{year}_{year+1}" for year in range(1999, 2023)]

# Dictionary to store merged DataFrames for each year
merged_data = {}
for year in years:
    if year in dfs:  # Check if data exists for the given year
        dfz = dfs[year]  # Extract list of DataFrames for the year

        # Drop 'sno' from all DataFrames except the first one
        for i in range(1, len(dfz)):
            if 'sno' in dfz[i].columns:
                dfz[i] = dfz[i].drop(columns=['sno'])

        # Perform outer join across all DataFrames for the year
        df_merged = reduce(lambda left, right: pd.merge(left, right, on="dsl", how="outer"), dfz)

        # Add a 'year' column
        df_merged["year"] = year

        # Store merged DataFrame
        merged_data[year] = df_merged

# Concatenate all years into a single DataFrame
merged_df = pd.concat(merged_data.values(), ignore_index=True)
merged_df

,dsl,scheme_code,nic_code,state_code,district_code,sector_code,ownership,opening_gross_value,closing_gross_value,opening_net_value,...,year,rent_royalties_x,rent_rcvd_bldg,rent_royalties_y,int_received,rent_rcvd_land,gross_value,bonus,prov_fund,wel_exp
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1999_2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1999_2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1999_2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1999_2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1999_2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385517,219952,2.0,52109,36,99,2.0,NaN,NaN,NaN,NaN,...,2022_2023,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1385518,219953,2.0,52101,36,99,2.0,NaN,0.0,0.0,2814600.0,...,2022_2023,NaN,0.0,NaN,2390.0,0.0,NaN,0.0,0.0,0.0
1385519,219954,2.0,52101,36,99,1.0,NaN,0.0,0.0,11140810.0,...,2022_2023,NaN,0.0,NaN,3335.0,0.0,NaN,232000.0,0.0,10466.0
1385520,219955,2.0,18112,36,99,2.0,NaN,0.0,0.0,4537744.0,...,2022_2023,NaN,0.0,NaN,0.0,0.0,NaN,0.0,55980.0,38468.0
1385521,219956,2.0,18112,36,99,2.0,NaN,NaN,NaN,NaN,...,2022_2023,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [ ]:
num_dsls_below_10000 = len(merged_df[merged_df['dsl'] < 10000])
print(f"Number of DSLs below 10000: {num_dsls_below_10000}")
merged_df = merged_df[merged_df['dsl'] >= 10000]
print(f"Number of rows in merged_df after removal: {len(merged_df)}")
merged_df

Number of DSLs below 10000: 3486
Number of rows in merged_df after removal: 1382036

,dsl,scheme_code,nic_code,state_code,district_code,sector_code,ownership,opening_gross_value,closing_gross_value,opening_net_value,...,year,rent_royalties_x,rent_rcvd_bldg,rent_royalties_y,int_received,rent_rcvd_land,gross_value,bonus,prov_fund,wel_exp
3486,10001,1.0,24130.0,5,1.0,1.0,1.0,838612606.0,817821549.0,416737888.0,...,1999_2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3487,10002,1.0,15510.0,5,9.0,1.0,NaN,NaN,NaN,NaN,...,1999_2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3488,10003,1.0,15510.0,5,9.0,1.0,NaN,NaN,NaN,NaN,...,1999_2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3489,10004,1.0,15511.0,5,14.0,1.0,6.0,218370918.0,481196866.0,102261222.0,...,1999_2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3490,10005,1.0,15420.0,5,23.0,2.0,NaN,NaN,NaN,NaN,...,1999_2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385517,219952,2.0,52109,36,99,2.0,NaN,NaN,NaN,NaN,...,2022_2023,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1385518,219953,2.0,52101,36,99,2.0,NaN,0.0,0.0,2814600.0,...,2022_2023,NaN,0.0,NaN,2390.0,0.0,NaN,0.0,0.0,0.0
1385519,219954,2.0,52101,36,99,1.0,NaN,0.0,0.0,11140810.0,...,2022_2023,NaN,0.0,NaN,3335.0,0.0,NaN,232000.0,0.0,10466.0
1385520,219955,2.0,18112,36,99,2.0,NaN,0.0,0.0,4537744.0,...,2022_2023,NaN,0.0,NaN,0.0,0.0,NaN,0.0,55980.0,38468.0
1385521,219956,2.0,18112,36,99,2.0,NaN,NaN,NaN,NaN,...,2022_2023,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [ ]:
import pyarrow as pa
import pyarrow.parquet as pq
merged_df = merged_df.applymap(lambda x: str(x) if isinstance(x, float) else x)
merged_df.to_parquet("/content/drive/MyDrive/data_economics_research/ASI_Firms/1999_2023_all_firms.parquet")

,dsl,scheme_code,nic_code,state_code,district_code,sector_code,ownership,opening_gross_value,closing_gross_value,opening_net_value,...,year,rent_royalties_x,rent_rcvd_bldg,rent_royalties_y,int_received,rent_rcvd_land,gross_value,bonus,prov_fund,wel_exp
3486,10001,1.0,24130.0,5,1.0,1.0,1.0,838612606.0,817821549.0,416737888.0,...,1999_2000,nan,nan,nan,nan,nan,nan,nan,nan,nan
3487,10002,1.0,15510.0,5,9.0,1.0,nan,nan,nan,nan,...,1999_2000,nan,nan,nan,nan,nan,nan,nan,nan,nan
3488,10003,1.0,15510.0,5,9.0,1.0,nan,nan,nan,nan,...,1999_2000,nan,nan,nan,nan,nan,nan,nan,nan,nan
3489,10004,1.0,15511.0,5,14.0,1.0,6.0,218370918.0,481196866.0,102261222.0,...,1999_2000,nan,nan,nan,nan,nan,nan,nan,nan,nan
3490,10005,1.0,15420.0,5,23.0,2.0,nan,nan,nan,nan,...,1999_2000,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385517,219952,2.0,52109,36,99,2.0,nan,nan,nan,nan,...,2022_2023,nan,nan,nan,nan,nan,nan,0.0,0.0,0.0
1385518,219953,2.0,52101,36,99,2.0,nan,0.0,0.0,2814600.0,...,2022_2023,nan,0.0,nan,2390.0,0.0,nan,0.0,0.0,0.0
1385519,219954,2.0,52101,36,99,1.0,nan,0.0,0.0,11140810.0,...,2022_2023,nan,0.0,nan,3335.0,0.0,nan,232000.0,0.0,10466.0
1385520,219955,2.0,18112,36,99,2.0,nan,0.0,0.0,4537744.0,...,2022_2023,nan,0.0,nan,0.0,0.0,nan,0.0,55980.0,38468.0
1385521,219956,2.0,18112,36,99,2.0,nan,nan,nan,nan,...,2022_2023,nan,nan,nan,nan,nan,nan,0.0,0.0,0.0

In [ ]:
observations_by_year = merged_df.groupby('year').size()
observations_by_year

year
1999_2000    33515
2000_2001    41096
2001_2002    42242
2002_2003    41846
2003_2004    56889
2004_2005    49340
2005_2006    57304
2006_2007    66875
2007_2008    56888
2008_2009    54349
2009_2010    57114
2010_2011    52243
2011_2012    52778
2012_2013    59162
2013_2014    57968
2014_2015    63296
2015_2016    65110
2016_2017    68105
2017_2018    66688
2018_2019    67356
2019_2020    66853
2020_2021    68009
2021_2022    68548
2022_2023    68462
dtype: int64

In [ ]:
print("Number of dataframes per year:")
for year in years:
    print(year," | ",len(dfs[year]))
dfs

{'1999_2000': [         dsl  scheme_code  nic_code state_code  district_code  sector_code
  0      10001            1   24130.0          5            1.0          1.0
  1      10002            1   15510.0          5            9.0          1.0
  2      10003            1   15510.0          5            9.0          1.0
  3      10004            1   15511.0          5           14.0          1.0
  4      10005            1   15420.0          5           23.0          2.0
  ...      ...          ...       ...        ...            ...          ...
  33510  75817            2   93010.0         31            1.0          2.0
  33511  75818            2   93010.0         31            1.0          2.0
  33512  75819            2   93010.0         31            1.0          2.0
  33513  75820            2   93010.0         31            1.0          2.0
  33514  75821            2   93010.0         31            1.0          2.0

  [33515 rows x 6 columns],
           dsl  ownership
  0      10001        1.0
  1      10004        6.0
  2      10006        4.0
  3      10007        6.0
  4      10008        1.0
  ...      ...        ...
  26810  75817        6.0
  26811  75818        6.0
  26812  75819        6.0
  26813  75820        6.0
  26814  75821        6.0

  [26815 rows x 2 columns],
            dsl  opening_gross_value  closing_gross_value  opening_net_value  \
  6       10001         8.386126e+08         8.178215e+08        416737888.0
  14      10004         2.183709e+08         4.811969e+08        102261222.0
  22      10006         4.609171e+07         4.674171e+07         20999790.0
  29      10007         0.000000e+00         0.000000e+00            71373.0
  37      10008         1.751274e+09         1.756175e+09        423364104.0
  ...       ...                  ...                  ...                ...
  170088  75817         0.000000e+00         0.000000e+00          1499938.0
  170095  75818         0.000000e+00         0.000000e+00           329596.0
  170101  75819         0.000000e+00         0.000000e+00            15294.0
  170107  75820         0.000000e+00         0.000000e+00          2457194.0
  170113  75821         0.000000e+00         0.000000e+00          5036496.0

          closing_net_value
  6             367590864.0
  14            354824052.0
  22             19719512.0
  29                64235.0
  37            381695076.0
  ...                   ...
  170088          1300444.0
  170095           291907.0
  170101            13372.0
  170107          2212004.0
  170113          6098223.0

  [25414 rows x 5 columns],
           dsl  man_total_C  wages_total_C  bonus_C  prov_fund_C  wel_exp_C  \
  0      10001          NaN            NaN      NaN          NaN        NaN
  1      10004          NaN            NaN      NaN          NaN        NaN
  2      10006          NaN            NaN      NaN          NaN        NaN
  3      10007          NaN            NaN      NaN          NaN        NaN
  4      10008          NaN            NaN      NaN          NaN        NaN
  ...      ...          ...            ...      ...          ...        ...
  25165  75817          NaN            NaN      NaN          NaN        NaN
  25166  75818          NaN            NaN      NaN          NaN        NaN
  25167  75819          NaN            NaN      NaN          NaN        NaN
  25168  75820          NaN            NaN      NaN          NaN        NaN
  25169  75821          NaN            NaN      NaN          NaN        NaN

         man_total_TW  wages_total_TW   bonus_TW  prov_fund_TW  ...  \
  0          249612.0      71068758.0    24832.0           0.0  ...
  1           74999.0      14536444.0  1380000.0     1744373.0  ...
  2          172021.0      26229088.0        0.0     2702468.0  ...
  3               NaN             NaN        NaN           NaN  ...
  4          209108.0      61194988.0        0.0     5195042.0  ...
  ...             ...             ...        ...           ...  ...
  25165        6574.0        709030.0    50975.0           0.0  ...
  25166        2617.0        309967.0    20644.0       54632.0  ...
  25167           NaN             NaN        NaN           NaN  ...
  25168           NaN             NaN        NaN           NaN  ...
  25169        2416.0        259200.0    46656.0       58662.0  ...

         man_total_SM  wages_total_SM  bonus_SM  prov_fund_SM  wel_exp_SM  \
  0           60390.0      18083137.0       0.0           0.0         0.0
  1            8538.0       5915237.0  177000.0     2058285.0    308600.0
  2           30050.0      15737453.0       0.0     1621481.0    437221.0
  3               NaN             NaN       NaN           NaN         NaN
  4           79434.0      30796572.0       0.0     2712959.0  11339803.0
  ...             ...             ...       ...           ...         ...
  25165        1454.0        194104.0   15603.0           0.0         0.0
  25166        1228.0        104750.0       0.0           0.0         0.0
  25167           NaN             NaN       NaN           NaN         NaN
  25168           NaN             NaN       NaN           NaN         NaN
  25169         604.0        298500.0   14040.0       14942.0      7500.0

         man_total_T  wages_total_T    bonus_T  prov_fund_T   wel_exp_T
  0         358680.0    109650848.0    24832.0   19538939.0   9544706.0
  1         148826.0     31983844.0  2244000.0    5186518.0   1478172.0
  2         232974.0     52458176.0        0.0    5404936.0   1457404.0
  3            240.0         8400.0        0.0          0.0         0.0
  4         359718.0    112839075.0        0.0    9677814.0  51396786.0
  ...            ...            ...        ...          ...         ...
  25165       9848.0      1111116.0    82071.0     187052.0     60645.0
  25166       3845.0       414717.0    20644.0      54632.0     35755.0
  25167       2142.0       230524.0   100706.0          0.0     23138.0
  25168        510.0        63961.0     5259.0       9262.0      6766.0
  25169       3020.0       557700.0    60696.0      73604.0     22000.0

  [25170 rows x 21 columns],
           dsl  op_expenses    total_exp  rent_paid_bldg  rent_paid_land  \
  0      10001    3632018.0   37681778.0         10000.0        112455.0
  1      10004     400700.0   10973012.0         85560.0             0.0
  2      10006    5734348.0   10035313.0         44287.0             0.0
  3      10008     404227.0  147995594.0             0.0             0.0
  4      10009  157689566.0  567154942.0       2085436.0             0.0
  ...      ...          ...          ...             ...             ...
  25650  75817     905665.0    1833418.0             0.0             0.0
  25651  75818       8346.0     460000.0         15417.0             0.0
  25652  75819          0.0      59618.0          3600.0             0.0
  25653  75820       6817.0      76101.0          4836.0             0.0
  25654  75821      33420.0     755717.0             0.0             0.0

             int_paid
  0      1.358304e+08
  1      2.442959e+07
  2      0.000000e+00
  3      2.069512e+09
  4      4.078596e+06
  ...             ...
  25650  4.431500e+04
  25651  6.450000e+03
  25652  9.000000e+03
  25653  0.000000e+00
  25654  2.365700e+04

  [25655 rows x 6 columns],
           dsl  tot_receipts
  0      10001     1770327.0
  1      10004     6919350.0
  2      10006   147009103.0
  3      10008     3606876.0
  4      10009   210190172.0
  ...      ...           ...
  22364  75817     4991014.0
  22365  75818     2298284.0
  22366  75819      986985.0
  22367  75820      259250.0
  22368  75821     4015400.0

  [22369 rows x 2 columns],
            dsl  pur_value_ind
  12      10001   3.445559e+07
  23      10004   2.609444e+08
  38      10006   8.815011e+07
  47      10008   3.970452e+07
  57      10009   7.194620e+09
  ...       ...            ...
  250612  75817   4.156300e+05
  250625  75818   1.144221e+06
  250635  75819   4.555540e+05
  250648  75820   9.247200e+04
  250662  75821   2.007215e+06

  [25249 rows x 2 columns],
          dsl  pur_value_imp
  1         1   2.084627e+07
  4         2   1.980055e+10
  6         3   2.105592e+07
  7         4   1.432114e+06
  14        5   8.764433e+07
  ...     ...            ...
  12913  3482   1.926412e+07
  12917  3483   6.341129e+06
  12922  3484   7.286902e+06
  12927  3485   9.559850e+05
  12930  3486   1.100000e+07

  [3486 rows x 2 columns],
           dsl    gross_sale   excise_duty  sales_tax  others_product  \
  3      10001  1.800872e+08  1.224000e+04      888.0      28918658.0
  4      10004  3.461766e+08  2.173075e+07    26047.0       3213978.0
  8      10006  1.404258e+08  0.000000e+00        0.0             0.0
  12     10008  1.051360e+08  3.679200e+04        0.0        265016.0
  14     10009  3.449763e+10  2.092720e+09        0.0      59255613.0
  ...      ...           ...           ...        ...             ...
  69013  75776  5.644867e+06  0.000000e+00        0.0        170994.0
  69014  75777  5.405300e+04  0.000000e+00    53570.0             0.0
  69018  75803  4.481256e+06  0.000000e+00        0.0        298629.0
  69020  75804  6.720534e+06  7.243470e+05        0.0         87503.0
  69023  75808  1.539600e+05  0.000000e+00        0.0        112161.0

                total
  3      2.893179e+07
  4      2.497078e+07
  8      0.000000e+00
  12     3.018080e+05
  14     2.151975e+09
  ...             ...
  69013  1.709940e+05
  69014  5.357000e+04
  69018  2.986290e+05
  69020  8.118500e+05
  69023  1.121610e+05

  [20816 rows x 6 columns]],
 '2000_2001': [         dsl  scheme_code  nic_code  state_code  district_code  sector_code
  0      10001            1   26942.0         5.0            9.0          2.0
  1      10002            1   15312.0         5.0           11.0          1.0
  2      10003            1   36999.0         5.0           11.0          1.0
  3      10004            1   21020.0         5.0           11.0          1.0
  4      10006            1   24242.0         5.0           11.0          1.0
  ...      ...          ...       ...         ...            ...          ...
  41091  75282            2   24232.0         8.0           21.0          2.0
  41092  75283            2   26960.0         8.0           30.0          2.0
  41093  75284            2   26960.0         8.0           30.0          2.0
  41094  75285            2   15319.0         8.0           17.0          2.0
  41095  75286            2   29223.0         8.0            5.0          2.0

  [41096 rows x 6 columns],
           dsl  ownership
  0      10001        6.0
  1      10003        6.0
  2      10004        3.0
  3      10006        2.0
  4      10007        6.0
  ...      ...        ...
  33584  75281        6.0
  33585  75282        6.0
  33586  75283        6.0
  33587  75284        3.0
  33588  75285        6.0

  [33589 rows x 2 columns],
            dsl  opening_gross_value  closing_gross_value  opening_net_value  \
  6       10001         3.232308e+07         3.250155e+07       2.346921e+07
  14      10003         0.000000e+00         0.000000e+00       0.000000e+00
  22      10004         6.716434e+09         6.867338e+09       2.223923e+09
  31      10006         0.000000e+00         0.000000e+00       0.000000e+00
  39      10007         9.139323e+07         9.795004e+07       5.922714e+07
  ...       ...                  ...                  ...                ...
  219335  75280         7.650000e+04         2.800000e+04       7.150000e+03
  219343  75281         3.178134e+06         3.293496e+06       1.371871e+06
  219349  75282         0.000000e+00         0.000000e+00       0.000000e+00
  219354  75284         0.000000e+00         0.000000e+00       0.000000e+00
  219359  75285         0.000000e+00         0.000000e+00       3.950000e+04

          closing_net_value
  6            9.268941e+06
  14           4.566195e+06
  22           4.521796e+09
  31           1.471105e+06
  39           4.055636e+07
  ...                   ...
  219335       7.650000e+04
  219343       2.344365e+06
  219349       3.549450e+05
  219354       1.834850e+05
  219359       3.125000e+05

  [32116 rows x 5 columns],
           dsl  man_total_C  wages_total_C  bonus_C  prov_fund_C  wel_exp_C  \
  0      10001          NaN            NaN      NaN          NaN        NaN
  1      10003          NaN            NaN      NaN          NaN        NaN
  2      10004     371223.0     35266217.0      0.0          0.0        0.0
  3      10006          NaN            NaN      NaN          NaN        NaN
  4      10007      16617.0      1023199.0      0.0          0.0        0.0
  ...      ...          ...            ...      ...          ...        ...
  32126  75280          NaN            NaN      NaN          NaN        NaN
  32127  75281          NaN            NaN      NaN          NaN        NaN
  32128  75282          NaN            NaN      NaN          NaN        NaN
  32129  75284          NaN            NaN      NaN          NaN        NaN
  32130  75285          NaN            NaN      NaN          NaN        NaN

         man_total_TW  wages_total_TW    bonus_TW  prov_fund_TW  ...  \
  0           40666.0       8234379.0    502140.0           0.0  ...
  1           48316.0       5580139.0    767242.0           0.0  ...
  2          900972.0     222619146.0  10890644.0           0.0  ...
  3           17485.0       7966964.0    231898.0           0.0  ...
  4          129135.0       9653690.0         0.0           0.0  ...
  ...             ...             ...         ...           ...  ...
  32126           NaN             NaN         NaN           NaN  ...
  32127        2928.0        326632.0         0.0           0.0  ...
  32128           NaN             NaN         NaN           NaN  ...
  32129           NaN             NaN         NaN           NaN  ...
  32130           NaN             NaN         NaN           NaN  ...

         man_total_SM  wages_total_SM   bonus_SM  prov_fund_SM  wel_exp_SM  \
  0            9054.0       4187695.0   360079.0           0.0         0.0
  1            2317.0        548785.0    88000.0           0.0         0.0
  2          129014.0      66247055.0  5689395.0           0.0         0.0
  3            3328.0       2034860.0    29604.0           0.0         0.0
  4            2780.0       1561400.0        0.0           0.0         0.0
  ...             ...             ...        ...           ...         ...
  32126           NaN             NaN        NaN           NaN         NaN
  32127         606.0        120000.0        0.0           0.0         0.0
  32128           NaN             NaN        NaN           NaN         NaN
  32129           NaN             NaN        NaN           NaN         NaN
  32130           NaN             NaN        NaN           NaN         NaN

         man_total_T  wages_total_T     bonus_T  prov_fund_T   wel_exp_T
  0          71266.0     17255177.0   1197686.0    2738238.0    733509.0
  1          58718.0      7553481.0   1144153.0    1149240.0   1107692.0
  2        1090945.0    313551176.0  18147107.0   26508113.0  18485372.0
  3          28093.0     12035536.0    333045.0     653724.0     41423.0
  4         135056.0     11621650.0    192563.0    3185974.0   1938947.0
  ...            ...            ...         ...          ...         ...
  32126        566.0        40500.0         0.0          0.0         0.0
  32127       4122.0       520552.0         0.0      12749.0      1683.0
  32128       1410.0        63621.0         0.0          0.0      2375.0
  32129        596.0       101652.0         0.0          0.0      3654.0
  32130       1812.0       109000.0         0.0          0.0      2189.0

  [32131 rows x 21 columns],
           dsl  op_expenses    total_exp  rent_paid_bldg  rent_royalties  \
  0      10001    4540555.0   11293459.0         56400.0         31122.0
  1      10003    4281826.0    6298013.0        139004.0             0.0
  2      10004    8769630.0  162731286.0       2957748.0        417830.0
  3      10006       7602.0     165200.0             0.0             0.0
  4      10007    1159007.0   18640968.0        376100.0             0.0
  ...      ...          ...          ...             ...             ...
  32422  75280        350.0      11730.0             0.0             0.0
  32423  75281      17726.0     356907.0             0.0             0.0
  32424  75282        300.0       4644.0             0.0             0.0
  32425  75284      17469.0      46999.0             0.0             0.0
  32426  75285       4377.0      53738.0             0.0             0.0

            int_paid
  0         981302.0
  1         836437.0
  2      678683733.0
  3              0.0
  4        9322472.0
  ...            ...
  32422          0.0
  32423     515387.0
  32424       3360.0
  32425      28715.0
  32426     204195.0

  [32427 rows x 6 columns],
           dsl  tot_receipts  rent_rcvd_bldg  rent_royalties  int_received
  0      10001     -845786.0         66657.0             0.0           0.0
  1      10003      -44154.0             0.0             0.0           0.0
  2      10004    74399951.0             0.0             0.0           0.0
  3      10006    -1606530.0             0.0             0.0           0.0
  4      10007     1775502.0             0.0             0.0           0.0
  ...      ...           ...             ...             ...           ...
  28392  75280      120000.0             0.0             0.0           0.0
  28393  75281       30587.0             0.0             0.0       12606.0
  28394  75282       61530.0             0.0             0.0           0.0
  28395  75284      392546.0             0.0             0.0           0.0
  28396  75285      664589.0             0.0             0.0           0.0

  [28397 rows x 5 columns],
            dsl  pur_value_ind
  9       10001   7.287984e+07
  21      10003   9.457726e+07
  37      10004   2.418953e+09
  50      10006   3.324785e+06
  58      10007   1.310146e+08
  ...       ...            ...
  325264  75280   2.045000e+04
  325275  75281   7.219748e+06
  325284  75282   1.118440e+05
  325289  75284   3.654300e+05
  325294  75285   7.014900e+04

  [32063 rows x 2 columns],
           dsl  pur_value_imp
  3      10004    322957878.0
  7      10009      4014370.0
  9      10011    209675719.0
  11     10023       315699.0
  13     10024    169554024.0
  ...      ...            ...
  17506  75096      9027003.0
  17509  75158      6577367.0
  17511  75203      5516328.0
  17513  75275     45463287.0
  17518  75276    104965315.0

  [4770 rows x 2 columns],
           dsl    gross_sale  excise_duty   sales_tax
  1      10001  1.134559e+08          0.0   4275664.0
  5      10003  1.043297e+08          0.0   1189733.0
  10     10004  4.644832e+09  446336462.0  70041052.0
  12     10006  1.233094e+07          0.0         0.0
  15     10007  3.389358e+08          0.0         0.0
  ...      ...           ...          ...         ...
  87137  75278  1.098668e+06          0.0     48315.0
  87140  75279  4.679080e+05          0.0         0.0
  87143  75281  9.673933e+06     845381.0     13899.0
  87145  75282  1.931290e+05          0.0      8384.0
  87147  75284  1.540880e+05          0.0         0.0

  [26544 rows x 4 columns]],
 '2001_2002': [         dsl  scheme_code  nic_code  state_code  district_code  sector_code
  0      10001            1   32301.0         1.0            4.0          1.0
  1      10002            1   23109.0         1.0           10.0          1.0
  2      10003            1   15311.0         1.0            5.0          2.0
  3      10004            1   15311.0         1.0           13.0          1.0
  4      10005            1   15331.0         1.0           13.0          2.0
  ...      ...          ...       ...         ...            ...          ...
  42237  76423            2   28112.0        18.0            6.0          1.0

In [ ]:
years_to_keep = [f"{year}_{year+1}" for year in range(1999, 2010)]
df_new = merged_df[merged_df['year'].isin(years_to_keep)].copy()

# Shape File **matching**

In [ ]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/data_economics_research/ASI_Firms/district_codes_mm.xlsx')
df.sample(5)

,State,ec_district_code,asi_district,District Name,state_code_old,state_code,Dist_LGD,headquarter,latitude,longitude,formation_date,formation_details,PARENTDC
44,Punjab,8,10,Moga,3,3,38,Faridkot,30.6786,74.7558,1972,Formed from Firozpur district,10
109,Rajasthan,11,11,Dausa,8,8,97,Dausa,26.8900,76.3350,1991,Formed from Jaipur district,11
73,Haryana,6,6,Karnal,6,6,67,Karnal,29.6800,76.9800,1851,Formed from Delhi territory,6
618,Tamil Nadu,27,29,Tirunelveli,33,33,592,Tirunelveli,8.7300,77.6900,1790,Formed from parts of Madras Presidency,29
221,Bihar,19,19,Samastipur,10,10,217,Madhepura,25.9167,86.7833,1981,Created by splitting from Saharsa,19

In [ ]:
gdf = pd.read_excel('/content/drive/MyDrive/data_economics_research/ASI_Firms/gdf_districts.xlsx')
gdf_1 = gpd.read_file('/content/drive/MyDrive/data_economics_research/ASI_Firms/District Shape file/in_district_shp_files/in_district.shp')

In [ ]:
district_names_df = df['District Name'].str.lower().unique().tolist()
dtname_gdf = gdf_1['dtname'].str.lower().unique().tolist()
unmatched_districts = [district for district in district_names_df if district not in dtname_gdf]
print("Unmatched Districts:", unmatched_districts)

Unmatched Districts: ['almora']

## 1999 & 2000 ka milaap

In [ ]:
df = pd.read_parquet('/content/drive/MyDrive/data_economics_research/ASI_Firms/1999_2023_all_firms.parquet')

In [ ]:
years_to_keep = [1999,2000]
df_filtered = df[df['year'].isin(years_to_keep)].copy()
df_filtered

,dsl,scheme_code,nic_code,state_code,district_code,sector_code,ownership,opening_gross_value,closing_gross_value,opening_net_value,...,year,rent_royalties_x,rent_rcvd_bldg,rent_royalties_y,int_received,rent_rcvd_land,gross_value,bonus,prov_fund,wel_exp
3486,10001,1.0,24130.0,5,1.0,1.0,1.0,838612606.0,817821549.0,416737888.0,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
3487,10002,1.0,15510.0,5,9.0,1.0,nan,nan,nan,nan,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
3488,10003,1.0,15510.0,5,9.0,1.0,nan,nan,nan,nan,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
3489,10004,1.0,15511.0,5,14.0,1.0,6.0,218370918.0,481196866.0,102261222.0,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
3490,10005,1.0,15420.0,5,23.0,2.0,nan,nan,nan,nan,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78092,75282,2.0,24232.0,8,21.0,2.0,6.0,0.0,0.0,0.0,...,2000,0.0,0.0,0.0,0.0,nan,nan,nan,nan,nan
78093,75283,2.0,26960.0,8,30.0,2.0,6.0,nan,nan,nan,...,2000,nan,nan,nan,nan,nan,nan,nan,nan,nan
78094,75284,2.0,26960.0,8,30.0,2.0,3.0,0.0,0.0,0.0,...,2000,0.0,0.0,0.0,0.0,nan,nan,nan,nan,nan
78095,75285,2.0,15319.0,8,17.0,2.0,6.0,0.0,0.0,39500.0,...,2000,0.0,0.0,0.0,0.0,nan,nan,nan,nan,nan
78096,75286,2.0,29223.0,8,5.0,2.0,nan,nan,nan,nan,...,2000,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [ ]:
state_counts_by_year = df.groupby('year')['state_code'].nunique()
state_counts_by_year

year
1999_2000    28
2000_2001    31
2001_2002    31
2002_2003    31
2003_2004    31
2004_2005    31
2005_2006    31
2006_2007    31
2007_2008    31
2008_2009    32
2009_2010    33
2010_2011    32
2011_2012    33
2012_2013    33
2013_2014    33
2014_2015    34
2015_2016    34
2016_2017    34
2017_2018    34
2018_2019    34
2019_2020    36
2020_2021    35
2021_2022    35
2022_2023    35
Name: state_code, dtype: int64

In [ ]:
observations_by_state_year = []
for year, group in df.groupby('year'):
  state_counts = group['state_code'].value_counts()
  observations_by_state_year.append({year: state_counts.to_dict()})

observations_by_state_year

[{'1999_2000': {'23': 4231,
   '14': 3888,
   '7': 3163,
   '2': 2809,
   '25': 2530,
   '11': 2088,
   '26': 1842,
   '20': 1466,
   '13': 1404,
   '8': 1314,
   '21': 1268,
   '12': 1193,
   '5': 1026,
   '31': 1021,
   '19': 669,
   '4': 628,
   '30': 455,
   '29': 409,
   '6': 355,
   '33': 345,
   '9': 322,
   '24': 266,
   '10': 249,
   '28': 232,
   '18': 179,
   '15': 101,
   '16': 40,
   '27': 22}},
 {'2000_2001': {'33.0': 5719,
   '27.0': 4944,
   '24.0': 4111,
   '28.0': 3299,
   '9.0': 3096,
   '29.0': 2546,
   '19.0': 2042,
   '3.0': 1886,
   '6.0': 1655,
   '8.0': 1435,
   '32.0': 1373,
   '23.0': 1304,
   '7.0': 1126,
   '18.0': 819,
   '21.0': 693,
   '10.0': 630,
   '20.0': 625,
   '22.0': 605,
   '5.0': 475,
   '25.0': 410,
   '26.0': 383,
   '2.0': 343,
   '30.0': 315,
   '34.0': 307,
   '16.0': 260,
   '1.0': 236,
   '4.0': 176,
   '13.0': 164,
   '14.0': 65,
   '17.0': 31,
   '35.0': 23}},
 {'2001_2002': {'33.0': 5945,
   '27.0': 4562,
   '24.0': 3858,
   '28.0': 3551,
   '9.0': 2999,
   '29.0': 2958,
   '19.0': 2042,
   '3.0': 1871,
   '6.0': 1718,
   '32.0': 1485,
   '8.0': 1411,
   '23.0': 1365,
   '7.0': 1143,
   '18.0': 958,
   '21.0': 805,
   '20.0': 689,
   '10.0': 678,
   '22.0': 610,
   '34.0': 454,
   '25.0': 448,
   '26.0': 418,
   '30.0': 410,
   '5.0': 408,
   '2.0': 397,
   '1.0': 302,
   '16.0': 275,
   '4.0': 192,
   '13.0': 157,
   '14.0': 75,
   '17.0': 34,
   '35.0': 24}},
 {'2002_2003': {'33.0': 5769,
   '27.0': 4463,
   '24.0': 3821,
   '28.0': 3577,
   '9.0': 3104,
   '29.0': 2929,
   '19.0': 2062,
   '3.0': 1864,
   '6.0': 1630,
   '8.0': 1450,
   '32.0': 1445,
   '23.0': 1319,
   '7.0': 1123,
   '18.0': 993,
   '20.0': 773,
   '21.0': 748,
   '10.0': 659,
   '22.0': 594,
   '34.0': 455,
   '25.0': 448,
   '30.0': 430,
   '26.0': 411,
   '5.0': 395,
   '2.0': 374,
   '1.0': 310,
   '16.0': 275,
   '4.0': 192,
   '13.0': 123,
   '14.0': 47,
   '17.0': 42,
   '35.0': 21}},
 {'2003_2004': {'33': 7046,
   '27': 6160,
   '28': 5279,
   '24': 4996,
   '9': 4060,
   '29': 3752,
   '3': 3025,
   '19': 2808,
   '6': 2592,
   '8': 2312,
   '32': 2108,
   '7': 1668,
   '23': 1661,
   '20': 1059,
   '18': 1033,
   '21': 1005,
   '25': 849,
   '10': 847,
   '22': 778,
   '26': 716,
   '34': 550,
   '2': 512,
   '30': 501,
   '5': 479,
   '1': 336,
   '16': 293,
   '4': 226,
   '13': 124,
   '17': 48,
   '14': 45,
   '35': 21}},
 {'2004_2005': {'33.0': 7703,
   '27.0': 6098,
   '28.0': 4937,
   '24.0': 4695,
   '9.0': 3207,
   '29.0': 2776,
   '3.0': 2606,
   '19.0': 2018,
   '32.0': 1786,
   '8.0': 1781,
   '6.0': 1768,
   '7.0': 1288,
   '23.0': 1160,
   '18.0': 832,
   '20.0': 720,
   '21.0': 712,
   '25.0': 662,
   '10.0': 656,
   '22.0': 594,
   '26.0': 523,
   '2.0': 478,
   '34.0': 444,
   '5.0': 432,
   '30.0': 379,
   '1.0': 333,
   '16.0': 303,
   '4.0': 190,
   '13.0': 122,
   '17.0': 60,
   '14.0': 56,
   '35.0': 21}},
 {'2005_2006': {'33.0': 8780,
   '27.0': 6866,
   '28.0': 5519,
   '24.0': 5272,
   '9.0': 3890,
   '3.0': 3451,
   '29.0': 3435,
   '19.0': 2247,
   '6.0': 2061,
   '8.0': 2027,
   '32.0': 1953,
   '7.0': 1467,
   '23.0': 1365,
   '18.0': 964,
   '21.0': 817,
   '20.0': 810,
   '25.0': 742,
   '10.0': 729,
   '22.0': 727,
   '2.0': 652,
   '5.0': 633,
   '26.0': 629,
   '34.0': 534,
   '30.0': 432,
   '1.0': 419,
   '16.0': 359,
   '4.0': 250,
   '13.0': 122,
   '17.0': 67,
   '14.0': 62,
   '35.0': 23}},
 {'2006_2007': {'33.0': 10041,
   '27.0': 7815,
   '28.0': 6212,
   '24.0': 5980,
   '3.0': 4869,
   '9.0': 4728,
   '29.0': 4005,
   '6.0': 2545,
   '19.0': 2466,
   '8.0': 2300,
   '32.0': 2213,
   '7.0': 1688,
   '23.0': 1544,
   '18.0': 1078,
   '20.0': 951,
   '2.0': 932,
   '22.0': 931,
   '5.0': 923,
   '21.0': 918,
   '10.0': 788,
   '25.0': 787,
   '26.0': 678,
   '34.0': 574,
   '1.0': 510,
   '30.0': 445,
   '16.0': 393,
   '4.0': 264,
   '13.0': 122,
   '17.0': 80,
   '14.0': 69,
   '35.0': 26}},
 {'2007_2008': {'33.0': 7927,
   '27.0': 6208,
   '24.0': 4609,
   '28.0': 4537,
   '9.0': 3858,
   '3.0': 3717,
   '29.0': 3553,
   '6.0': 2371,
   '19.0': 2168,
   '8.0': 1997,
   '32.0': 1858,
   '7.0': 1624,
   '23.0': 1621,
   '2.0': 1152,
   '5.0': 1092,
   '18.0': 1003,
   '20.0': 965,
   '22.0': 872,
   '25.0': 823,
   '21.0': 822,
   '10.0': 771,
   '26.0': 704,
   '34.0': 593,
   '1.0': 549,
   '30.0': 481,
   '16.0': 423,
   '4.0': 267,
   '13.0': 122,
   '17.0': 92,
   '14.0': 83,
   '35.0': 26}},
 {'2008_2009': {'33.0': 9162,
   '27.0': 6857,
   '24.0': 5094,
   '28.0': 4950,
   '9.0': 3739,
   '29.0': 3058,
   '3.0': 2843,
   '19.0': 2090,
   '6.0': 2038,
   '32.0': 1840,
   '8.0': 1792,
   '23.0': 1228,
   '7.0': 1166,
   '5.0': 868,
   '18.0': 866,
   '2.0': 856,
   '20.0': 719,
   '21.0': 680,
   '22.0': 669,
   '25.0': 622,
   '10.0': 583,
   '26.0': 511,
   '34.0': 445,
   '16.0': 411,
   '1.0': 389,
   '30.0': 365,
   '4.0': 183,
   '13.0': 110,
   '17.0': 98,
   '14.0': 90,
   '35.0': 26,
   'nan': 1}},
 {'2009_2010': {'33.0': 9533,
   '27.0': 7097,
   '28.0': 5773,
   '24.0': 5256,
   '9.0': 3822,
   '29.0': 3099,
   '3.0': 3030,
   '19.0': 2215,
   '8.0': 2037,
   '6.0': 1893,
   '32.0': 1863,
   '23.0': 1244,
   '7.0': 1118,
   '5.0': 1070,
   '18.0': 943,
   '2.0': 911,
   '21.0': 790,
   '20.0': 753,
   '22.0': 739,
   '10.0': 709,
   '25.0': 601,
   '26.0': 501,
   '16.0': 442,
   '34.0': 412,
   '30.0': 337,
   '1.0': 337,
   '4.0': 155,
   '13.0': 108,
   '11.0': 102,
   '17.0': 102,
   '14.0': 98,
   '35.0': 23,
   'nan': 1}},
 {'2010_2011': {'33.0': 8702,
   '27.0': 6557,
   '24.0': 4833,
   '28.0': 4634,
   '9.0': 3505,
   '29.0': 3040,
   '3.0': 2886,
   '19.0': 2057,
   '8.0': 1878,
   '6.0': 1836,
   '32.0': 1635,
   '7.0': 1197,
   '23.0': 1161,
   '5.0': 1067,
   '18.0': 889,
   '2.0': 736,
   '10.0': 688,
   '22.0': 680,
   '20.0': 671,
   '21.0': 649,
   '25.0': 534,
   '16.0': 470,
   '26.0': 435,
   '34.0': 356,
   '1.0': 337,
   '30.0': 302,
   '4.0': 153,
   '14.0': 96,
   '17.0': 94,
   '13.0': 84,
   '11.0': 64,
   '35.0': 17}},
 {'2011_2012': {'33.0': 8739,
   '27.0': 6636,
   '24.0': 4983,
   '28.0': 4778,
   '9.0': 3489,
   '29.0': 3043,
   '3.0': 2791,
   '19.0': 2050,
   '8.0': 1904,
   '6.0': 1827,
   '32.0': 1635,
   '23.0': 1181,
   '5.0': 1114,
   '7.0': 1046,
   '18.0': 937,
   '2.0': 856,
   '10.0': 762,
   '22.0': 683,
   '21.0': 671,
   '20.0': 623,
   '25.0': 564,
   '26.0': 484,
   '16.0': 444,
   '1.0': 345,
   '30.0': 337,
   '34.0': 330,
   '4.0': 157,
   '14.0': 102,
   '17.0': 100,
   '13.0': 86,
   '11.0': 60,
   '35.0': 18,
   'nan': 3}},
 {'2012_2013': {'33.0': 7817,
   '27.0': 7028,
   '24.0': 5249,
   '9.0': 4936,
   '29.0': 3586,
   '28.0': 2740,
   '8.0': 2514,
   '3.0': 2510,
   '19.0': 2457,
   '36.0': 2405,
   '6.0': 2374,
   '23.0': 1959,
   '32.0': 1932,
   '18.0': 1332,
   '7.0': 1226,
   '21.0': 1207,
   '5.0': 1170,
   '10.0': 1092,
   '2.0': 940,
   '20.0': 906,
   '22.0': 812,
   '16.0': 533,
   '1.0': 442,
   '25.0': 369,
   '34.0': 364,
   '30.0': 349,
   '26.0': 347,
   '14.0': 128,
   '4.0': 128,
   '17.0': 116,
   '13.0': 106,
   '11.0': 64,
   '35.0': 24}},
 {'2013_2014': {'33.0': 7705,
   '27.0': 6944,
   '24.0': 5236,
   '9.0': 4602,
   '29.0': 3515,
   '28.0': 2807,
   '36.0': 2527,
   '3.0': 2499,
   '19.0': 2475,
   '8.0': 2307,
   '6.0': 2242,
   '32.0': 1886,
   '23.0': 1813,
   '18.0': 1300,
   '5.0': 1167,
   '7.0': 1158,
   '10.0': 1106,
   '21.0': 1075,
   '2.0': 949,
   '20.0': 847,
   '22.0': 823,
   '16.0': 551,
   '1.0': 418,
   '25.0': 386,
   '30.0': 359,
   '26.0': 337,
   '34.0': 336,
   '14.0': 145,
   '13.0': 134,
   '4.0': 126,
   '17.0': 108,
   '11.0': 65,
   '35.0': 20}},
 {'2014_2015': {'33': 8337,
   '27': 7827,
   '24': 5516,
   '09': 4963,
   '29': 3754,
   '06': 3201,
   '28': 3125,
   '19': 2689,
   '03': 2632,
   '36': 2523,
   '08': 2475,
   '32': 1987,
   '23': 1982,
   '18': 1398,
   '05': 1259,
   '10': 1201,
   '21': 1181,
   '07': 1164,
   '02': 954,
   '22': 935,
   '20': 912,
   '16': 552,
   '01': 453,
   '25': 395,
   '30': 378,
   '26': 358,
   '34': 315,
   '13': 197,
   '14': 177,
   '12': 131,
   '04': 122,
   '17': 115,
   '11': 67,
   '35': 21}},
 {'2015_2016': {'33.0': 9208,
   '27.0': 7447,
   '24.0': 6034,
   '9.0': 4924,
   '29.0': 3711,
   '28.0': 3206,
   '8.0': 2889,
   '3.0': 2728,
   '36.0': 2709,
   '6.0': 2659,
   '19.0': 2579,
   '32.0': 2173,
   '23.0': 1833,
   '10.0': 1568,
   '7.0': 1552,
   '18.0': 1393,
   '5.0': 1223,
   '21.0': 1116,
   '2.0': 1027,
   '22.0': 980,
   '20.0': 859,
   '16.0': 566,
   '1.0': 462,
   '25.0': 403,
   '26.0': 366,
   '34.0': 346,
   '30.0': 316,
   '14.0': 196,
   '13.0': 185,
   '4.0': 127,
   '12.0': 125,
   '17.0': 113,
   '11.0': 66,
   '35.0': 21}},
 {'2016_2017': {'33': 9652,
   '27': 7645,
   '24': 6442,
   '09': 5104,
   '29': 3927,
   '28': 3434,
   '36': 3370,
   '06': 3029,
   '03': 2935,
   '08': 2814,
   '19': 2813,
   '32': 2175,
   '23': 1877,
   '18': 1553,
   '10': 1493,
   '07': 1218,
   '05': 1215,
   '21': 1151,
   '02': 1003,
   '22': 977,
   '20': 908,
   '16': 583,
   '01': 487,
   '25': 422,
   '26': 390,
   '30': 314,
   '34': 312,
   '14': 205,
   '13': 192,
   '17': 131,
   '12': 126,
   '04': 118,
   '11': 71,
   '35': 19}},
 {'2017_2018': {'33': 9427,
   '27': 7125,
   '24': 6606,
   '09': 5371,
   '29': 3793,
   '36': 3289,
   '28': 3152,
   '06': 3016,
   '03': 2772,
   '08': 2756,
   '19': 2634,
   '32': 2078,
   '23': 1850,
   '18': 1613,
   '10': 1431,
   '05': 1250,
   '07': 1188,
   '21': 1103,
   '02': 963,
   '22': 956,
   '20': 858,
   '16': 600,
   '01': 487,
   '26': 443,
   '25': 421,
   '30': 330,
   '34': 308,
   '14': 206,
   '13': 187,
   '17': 145,
   '12': 119,
   '04': 113,
   '11': 80,
   '35': 18}},
 {'2018_2019': {'33': 9195,
   '27': 6917,
   '24': 6500,
   '09': 5204,
   '06': 4734,
   '29': 3779,
   '28': 3152,
   '36': 3115,
   '08': 2721,
   '03': 2709,
   '19': 2541,
   '32': 1994,
   '23': 1902,
   '18': 1707,
   '10': 1401,
   '05': 1259,
   '07': 1151,
   '21': 1100,
   '22': 994,
   '02': 970,
   '20': 842,
   '16': 634,
   '01': 497,
   '26': 397,
   '25': 385,
   '30': 335,
   '34': 319,
   '14': 213,
   '13': 187,
   '17': 168,
   '12': 119,
   '04': 114,
   '11': 86,
   '35': 15}},
 {'2019_2020': {'33': 9223,
   '24': 6855,
   '27': 6836,
   '09': 5237,
   '29': 3827,
   '06': 3620,
   '28': 3118,
   '36': 3047,
   '08': 2842,
   '03': 2712,
   '19': 2564,
   '32': 1990,
   '23': 1962,
   '18': 1626,
   '10': 1397,
   '05': 1237,
   '21': 1090,
   '22': 1076,
   '07': 1069,
   '02': 958,
   '20': 827,
   '16': 662,
   '01': 510,
   '26': 397,
   '25': 376,
   '30': 329,
   '34': 309,
   '14': 229,
   '15': 216,
   '17': 191,
   '13': 190,
   '12': 116,
   '04': 116,
   '11': 82,
   '35': 14,
   '37': 3}},
 {'2020_2021': {'33': 9469,
   '24': 7000,
   '27': 6979,
   '09': 5401,
   '06': 3871,
   '29': 3774,
   '28': 3100,
   '36': 3064,
   '08': 2905,
   '03': 2701,
   '19': 2579,
   '23': 2043,
   '32': 2022,
   '18': 1606,
   '10': 1415,
   '05': 1221,
   '21': 1139,
   '22': 1119,
   '07': 1039,
   '02': 959,
   '20': 802,
   '25': 773,
   '16': 686,
   '01': 499,
   '30': 342,
   '34': 335,
   '14': 231,
   '15': 209,
   '17': 205,
   '13': 192,
   '04': 118,
   '12': 115,
   '11': 82,
   '35': 12,
   '37': 2}},
 {'2021_2022': {'33': 9436,
   '27': 6999,
   '24': 6860,
   '09': 6117,
   '29': 3790,
   '28': 3544,
   '06': 3425,
   '08': 3025,
   '36': 2864,
   '03': 2773,
   '19': 2528,
   '23': 2050,
   '32': 1993,
   '18': 1604,
   '10': 1364,
   '05': 1207,
   '22': 1168,
   '21': 1118,
   '07': 974,
   '02': 941,
   '20': 839,
   '25': 744,
   '16': 684,
   '01': 487,
   '30': 347,
   '34': 328,
   '12': 262,
   '14': 249,
   '17': 217,
   '15': 208,
   '13': 193,
   '04': 115,
   '11': 82,
   '35': 11,
   '37': 2}},
 {'2022_2023': {'33': 9814,
   '27': 7270,
   '24': 6821,
   '09': 6262,
   '29': 3748,
   '28': 3271,
   '06': 3254,
   '08': 3048,
   '36': 2737,
   '03': 2636,
   '19': 2549,
   '23': 2065,
   '32': 1904,
   '18': 1516,
   '10': 1400,
   '05': 1187,
   '22': 1172,
   '21': 1107,
   '07': 1022,
   '02': 938,
   '20': 808,
   '25': 704,
   '16': 699,
   '01': 492,
   '30': 352,
   '34': 323,
   '14': 262,
   '12': 240,
   '17': 223,
   '15': 206,
   '13': 194,
   '04': 105,
   '11': 89,
   '37': 33,
   '35': 11}}]

In [ ]:
df['state_code'] = pd.to_numeric(df['state_code'], errors='coerce').astype('Int64')
df['year'] = df['year'].astype(str).str[:4].astype(int)
all_states = set(range(1, 36))
state_codes_by_year = df.groupby('year')['state_code'].unique()
df
missing_states_by_year = {}

for year in range(1999, 2024):
    observed_states = set(state_codes_by_year.get(year, []))
    missing_states = all_states - observed_states
    missing_states_by_year[year] = sorted(missing_states)


missing_states_df = pd.DataFrame.from_dict(missing_states_by_year, orient='index')
missing_states_df.columns = [f"Missing_State_{i+1}" for i in range(missing_states_df.shape[1])]

missing_states_df

,dsl,scheme_code,nic_code,state_code,district_code,sector_code,ownership,opening_gross_value,closing_gross_value,opening_net_value,...,year,rent_royalties_x,rent_rcvd_bldg,rent_royalties_y,int_received,rent_rcvd_land,gross_value,bonus,prov_fund,wel_exp
3486,10001,1.0,24130.0,5,1.0,1.0,1.0,838612606.0,817821549.0,416737888.0,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
3487,10002,1.0,15510.0,5,9.0,1.0,nan,nan,nan,nan,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
3488,10003,1.0,15510.0,5,9.0,1.0,nan,nan,nan,nan,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
3489,10004,1.0,15511.0,5,14.0,1.0,6.0,218370918.0,481196866.0,102261222.0,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
3490,10005,1.0,15420.0,5,23.0,2.0,nan,nan,nan,nan,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385517,219952,2.0,52109,36,99,2.0,nan,nan,nan,nan,...,2022,nan,nan,nan,nan,nan,nan,0.0,0.0,0.0
1385518,219953,2.0,52101,36,99,2.0,nan,0.0,0.0,2814600.0,...,2022,nan,0.0,nan,2390.0,0.0,nan,0.0,0.0,0.0
1385519,219954,2.0,52101,36,99,1.0,nan,0.0,0.0,11140810.0,...,2022,nan,0.0,nan,3335.0,0.0,nan,232000.0,0.0,10466.0
1385520,219955,2.0,18112,36,99,2.0,nan,0.0,0.0,4537744.0,...,2022,nan,0.0,nan,0.0,0.0,nan,0.0,55980.0,38468.0
1385521,219956,2.0,18112,36,99,2.0,nan,nan,nan,nan,...,2022,nan,nan,nan,nan,nan,nan,0.0,0.0,0.0

In [ ]:
df['state_code'] = pd.to_numeric(df['state_code'], errors='coerce').astype('Int64')
df['year'] = df['year'].astype(str).str[:4].astype(int)
df_filtered = df[(df['year'] == 1999) & (df['state_code'] == 5)]
num_unique_districts = df_filtered['district_code'].nunique()
num_unique_districts
df_filtered_10 = df[(df['year'] == 2000) & (df['state_code'] == 10)]
num_unique_districts = df_filtered_10['district_code'].nunique()
num_unique_districts

print(f"Number of unique district codes in 1999_2000 for state code 5: {num_unique_districts}")

30

In [ ]:
!pip install tabula-py
import tabula
tables = tabula.read_pdf("/content/drive/MyDrive/data_economics_research/ASI_Firms/ASISTATE_CODES.pdf", pages="all")
for i, table in enumerate(tables):
    print(f"Table {i+1}:")
table

Table 1:

,Sr.\rNo.,Name of State,State Code,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,1974-75\rTO\r1988-89,1989-90\rTO\r1990-91,1991-92\rTO\r1994-95,1995-96\rTO\r1999-00,2000-01\rto\r2002-03,NaN
1,1.0,ANDHRA PRADESH,41,02,02,02,28.0
2,2.0,ARUNCHAL PRADESH,39,N.A.-,N.A.,03,12.0
3,3.0,ASSAM,34,03,04,04,18.0
4,4.0,BIHAR,31,04,05,05,10.0
5,5.0,GOA,54,29,06,06,30.0
6,6.0,GUJARAT,51,05,07,07,24.0
7,7.0,HARYANA,14,06,08,08,6.0
8,8.0,HIMACHAL PRADESH,15,07,09,09,2.0
9,9.0,JAMMU & KASHMIR,13,08,10,10,1.0
10,10.0,KARNATAKA,53,09,11,11,29.0
11,11.0,KERALA,43,10,12,12,32.0
12,12.0,MADHYA PRADESH,22,11,13,13,23.0
13,13.0,MAHARASHTRA,52,12,14,14,27.0
14,14.0,MANIPUR,35,13,15,15,14.0
15,15.0,MEGHALAYA,38,14,16,16,17.0
16,16.0,MIZORAM,N.A.,N.A,N.A.,17,15.0
17,17.0,NAGALAND,37,15,18,18,13.0
18,18.0,ORISSA,32,16,19,19,21.0
19,19.0,PUNJAB,12,17,20,20,3.0
20,20.0,RAJASTHAN,11,18,21,21,8.0
21,21.0,SIKKAM,N.A.,N.A.,N.A.,22,11.0
22,22.0,TAMIL NADU,42,20,23,23,33.0
23,23.0,TRIPURA,36,21,24,24,16.0
24,24.0,UTTAR PRADESH,21,22,25,25,9.0
25,25.0,WEST BENGAL,33,23,26,26,19.0
26,26.0,ANDAMAN AND NICOBAR\rISLANDS,45,24,27,27,35.0
27,27.0,CHANDIGARH,17,26,28,28,4.0
28,28.0,DADRA AND NAGAR HAVELI,NaN,27,29,29,26.0
29,29.0,DAMAN & DIU,54,33,30,30,25.0
30,30.0,DELHI,16,28,31,31,7.0
31,31.0,LAKSHADEEP,N.A.,N. A.,N.A.,32,31.0
32,32.0,PONDICHERRY,44,32,33,33,34.0
33,33.0,JHARKHAND,-,--,-,34,20.0
34,34.0,CHHATISGARH,-,-,-,35,22.0
35,35.0,UTTARANCHAL,-,-,-,36,5.0
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
table = table.iloc[1:]
table

,Sr.\rNo.,Name of State,State Code,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
1,1.0,ANDHRA PRADESH,41,02,02,02,28.0
2,2.0,ARUNCHAL PRADESH,39,N.A.-,N.A.,03,12.0
3,3.0,ASSAM,34,03,04,04,18.0
4,4.0,BIHAR,31,04,05,05,10.0
5,5.0,GOA,54,29,06,06,30.0
6,6.0,GUJARAT,51,05,07,07,24.0
7,7.0,HARYANA,14,06,08,08,6.0
8,8.0,HIMACHAL PRADESH,15,07,09,09,2.0
9,9.0,JAMMU & KASHMIR,13,08,10,10,1.0
10,10.0,KARNATAKA,53,09,11,11,29.0
11,11.0,KERALA,43,10,12,12,32.0
12,12.0,MADHYA PRADESH,22,11,13,13,23.0
13,13.0,MAHARASHTRA,52,12,14,14,27.0
14,14.0,MANIPUR,35,13,15,15,14.0
15,15.0,MEGHALAYA,38,14,16,16,17.0
16,16.0,MIZORAM,N.A.,N.A,N.A.,17,15.0
17,17.0,NAGALAND,37,15,18,18,13.0
18,18.0,ORISSA,32,16,19,19,21.0
19,19.0,PUNJAB,12,17,20,20,3.0
20,20.0,RAJASTHAN,11,18,21,21,8.0
21,21.0,SIKKAM,N.A.,N.A.,N.A.,22,11.0
22,22.0,TAMIL NADU,42,20,23,23,33.0
23,23.0,TRIPURA,36,21,24,24,16.0
24,24.0,UTTAR PRADESH,21,22,25,25,9.0
25,25.0,WEST BENGAL,33,23,26,26,19.0
26,26.0,ANDAMAN AND NICOBAR\rISLANDS,45,24,27,27,35.0
27,27.0,CHANDIGARH,17,26,28,28,4.0
28,28.0,DADRA AND NAGAR HAVELI,NaN,27,29,29,26.0
29,29.0,DAMAN & DIU,54,33,30,30,25.0
30,30.0,DELHI,16,28,31,31,7.0
31,31.0,LAKSHADEEP,N.A.,N. A.,N.A.,32,31.0
32,32.0,PONDICHERRY,44,32,33,33,34.0
33,33.0,JHARKHAND,-,--,-,34,20.0
34,34.0,CHHATISGARH,-,-,-,35,22.0
35,35.0,UTTARANCHAL,-,-,-,36,5.0
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
table = table.rename(columns={
    'State  Code': '1974-75\rTO\r1988-89',
    'Unnamed: 0': '1989-90\rTO\r1990-91',
    'Unnamed: 1': '1991-92\rTO\r1994-95',
    'Unnamed: 2': '1995-96\rTO\r1999-00',
    'Unnamed: 3': '2000-01\rto\r2002-03'
})
table

,Sr.\rNo.,Name of State,1974-75\rTO\r1988-89,1989-90\rTO\r1990-91,1991-92\rTO\r1994-95,1995-96\rTO\r1999-00,2000-01\rto\r2002-03
1,1.0,ANDHRA PRADESH,41,02,02,02,28.0
2,2.0,ARUNCHAL PRADESH,39,N.A.-,N.A.,03,12.0
3,3.0,ASSAM,34,03,04,04,18.0
4,4.0,BIHAR,31,04,05,05,10.0
5,5.0,GOA,54,29,06,06,30.0
6,6.0,GUJARAT,51,05,07,07,24.0
7,7.0,HARYANA,14,06,08,08,6.0
8,8.0,HIMACHAL PRADESH,15,07,09,09,2.0
9,9.0,JAMMU & KASHMIR,13,08,10,10,1.0
10,10.0,KARNATAKA,53,09,11,11,29.0
11,11.0,KERALA,43,10,12,12,32.0
12,12.0,MADHYA PRADESH,22,11,13,13,23.0
13,13.0,MAHARASHTRA,52,12,14,14,27.0
14,14.0,MANIPUR,35,13,15,15,14.0
15,15.0,MEGHALAYA,38,14,16,16,17.0
16,16.0,MIZORAM,N.A.,N.A,N.A.,17,15.0
17,17.0,NAGALAND,37,15,18,18,13.0
18,18.0,ORISSA,32,16,19,19,21.0
19,19.0,PUNJAB,12,17,20,20,3.0
20,20.0,RAJASTHAN,11,18,21,21,8.0
21,21.0,SIKKAM,N.A.,N.A.,N.A.,22,11.0
22,22.0,TAMIL NADU,42,20,23,23,33.0
23,23.0,TRIPURA,36,21,24,24,16.0
24,24.0,UTTAR PRADESH,21,22,25,25,9.0
25,25.0,WEST BENGAL,33,23,26,26,19.0
26,26.0,ANDAMAN AND NICOBAR\rISLANDS,45,24,27,27,35.0
27,27.0,CHANDIGARH,17,26,28,28,4.0
28,28.0,DADRA AND NAGAR HAVELI,NaN,27,29,29,26.0
29,29.0,DAMAN & DIU,54,33,30,30,25.0
30,30.0,DELHI,16,28,31,31,7.0
31,31.0,LAKSHADEEP,N.A.,N. A.,N.A.,32,31.0
32,32.0,PONDICHERRY,44,32,33,33,34.0
33,33.0,JHARKHAND,-,--,-,34,20.0
34,34.0,CHHATISGARH,-,-,-,35,22.0
35,35.0,UTTARANCHAL,-,-,-,36,5.0
36,NaN,NaN,NaN,NaN,NaN,nan,nan

In [ ]:
state_mapping = table_cleaned[['1995-96\rTO\r1999-00', '2000-01\rto\r2002-03']]
state_mapping = state_mapping.dropna()
state_mapping_dict
state_mapping_dict = state_mapping.set_index('1995-96\rTO\r1999-00')['2000-01\rto\r2002-03'].apply(lambda x: int(x)).to_dict()
df['state_code'] = pd.to_numeric(df['state_code'], errors='coerce')
df.loc[df['year'] == 1999, 'state_code'] = df.loc[df['year'] == 1999, 'state_code'].map(state_mapping_dict)

,dsl,scheme_code,nic_code,state_code,district_code,sector_code,ownership,opening_gross_value,closing_gross_value,opening_net_value,...,year,rent_royalties_x,rent_rcvd_bldg,rent_royalties_y,int_received,rent_rcvd_land,gross_value,bonus,prov_fund,wel_exp
3486,10001,1.0,24130.0,10.0,1.0,1.0,1.0,838612606.0,817821549.0,416737888.0,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
3487,10002,1.0,15510.0,10.0,9.0,1.0,nan,nan,nan,nan,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
3488,10003,1.0,15510.0,10.0,9.0,1.0,nan,nan,nan,nan,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
3489,10004,1.0,15511.0,10.0,14.0,1.0,6.0,218370918.0,481196866.0,102261222.0,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
3490,10005,1.0,15420.0,10.0,23.0,2.0,nan,nan,nan,nan,...,1999,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385517,219952,2.0,52109,36.0,99,2.0,nan,nan,nan,nan,...,2022,nan,nan,nan,nan,nan,nan,0.0,0.0,0.0
1385518,219953,2.0,52101,36.0,99,2.0,nan,0.0,0.0,2814600.0,...,2022,nan,0.0,nan,2390.0,0.0,nan,0.0,0.0,0.0
1385519,219954,2.0,52101,36.0,99,1.0,nan,0.0,0.0,11140810.0,...,2022,nan,0.0,nan,3335.0,0.0,nan,232000.0,0.0,10466.0
1385520,219955,2.0,18112,36.0,99,2.0,nan,0.0,0.0,4537744.0,...,2022,nan,0.0,nan,0.0,0.0,nan,0.0,55980.0,38468.0
1385521,219956,2.0,18112,36.0,99,2.0,nan,nan,nan,nan,...,2022,nan,nan,nan,nan,nan,nan,0.0,0.0,0.0

In [ ]:
df.to_parquet("/content/drive/MyDrive/data_economics_research/ASI_Firms/1999_2023_all_firms.parquet", index=False)

In [ ]:
observations_by_year = df.groupby('year').size()
observations_by_year

year
1999    33515
2000    41096
2001    42242
2002    41846
2003    56889
2004    49340
2005    57304
2006    66875
2007    56888
2008    54349
2009    57114
2010    52243
2011    52778
2012    59162
2013    57968
2014    63296
2015    65110
2016    68105
2017    66688
2018    67356
2019    66853
2020    68009
2021    68548
2022    68462
dtype: int64

In [6]:
import pandas as pd
df = pd.read_stata('/content/drive/MyDrive/data_economics_research/ASI_Firms/District codes & names_nodup.dta')

     state_ORIGINAL  district       districtname    year survey
0     A & N ISLANDS         1            Andaman  1989.0    ASI
1     A & N ISLANDS         2            Nicobar  1989.0    ASI
2     A & N ISLANDS         1            Andaman  1994.0    ASI
3     A & N ISLANDS         2            Nicobar  1994.0    ASI
4     A & N ISLANDS         1            Andaman  1999.0    ASI
...             ...       ...                ...     ...    ...
7543    WEST BENGAL        15          Medinipur  2008.0    ASI
7544    WEST BENGAL        16             Howrah  2008.0    ASI
7545    WEST BENGAL        17            Kolkata  2008.0    ASI
7546    WEST BENGAL        18  South 24-Parganas  2008.0    ASI
7547    WEST BENGAL        19          Medinipur  2008.0    ASI

[7548 rows x 5 columns]

In [9]:
# prompt: using df, list the the names of state_ORIGINAL in the year 1999.0

df_1999 = df[df['year'] == 1999.0]
state_names_1999 = df_1999['state_ORIGINAL'].unique()
state_names_1999

array(['A & N ISLANDS', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM',
       'BIHAR', 'CHANDIGARH', 'DADRA & NAGAR HAVELI', 'DAMAN & DIU',
       'DELHI', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'KARNATAKA', 'KERALA', 'LAKSHADWEEP',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ORISSA', 'PONDICHERRY', 'PUNJAB', 'RAJASTHAN',
       'SIKKIM', 'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'WEST BENGAL'],
      dtype=object)

In [4]:
df = pd.read_parquet('/content/drive/MyDrive/data_economics_research/ASI_Firms/observations_and_asi_merged_data.parquet')
df.columns

Index(['index', 'dsl', 'scheme_code', 'nic_code', 'state_code',
       'district_code', 'sector_code', 'ownership', 'opening_gross_value',
       'closing_gross_value', 'opening_net_value', 'closing_net_value',
       'man_total_C', 'wages_total_C', 'bonus_C', 'prov_fund_C', 'wel_exp_C',
       'man_total_TW', 'wages_total_TW', 'bonus_TW', 'prov_fund_TW',
       'wel_exp_TW', 'man_total_SM', 'wages_total_SM', 'bonus_SM',
       'prov_fund_SM', 'wel_exp_SM', 'man_total_T', 'wages_total_T', 'bonus_T',
       'prov_fund_T', 'wel_exp_T', 'op_expenses', 'total_exp',
       'rent_paid_bldg', 'rent_paid_land', 'int_paid', 'tot_receipts',
       'pur_value_ind', 'pur_value_imp', 'gross_sale', 'excise_duty',
       'sales_tax', 'others_product', 'total', 'year', 'rent_royalties_x',
       'rent_rcvd_bldg', 'rent_royalties_y', 'int_received', 'rent_rcvd_land',
       'gross_value', 'bonus', 'prov_fund', 'wel_exp', 'State',
       'ec_district_code', 'asi_district', 'PARENTDC', 'District Name',
       'state_code_old', 'Dist_LGD', 'headquarter', 'latitude', 'longitude',
       'formation_date', 'formation_details'],
      dtype='object')